html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
:root {
  --main-font: 'Roboto', sans-serif;
  --secondary-font: 'Raleway', sans-serif;
  --main-text-color: #212121;
  --secondary-text-color: #757575;
  --main-focus-color: #2196f3;
  --footer-bg-color: #2f303a;
  --main-bg-color: #ffffff;
  --secondary-bg-color: #f5f4fa;
}
body {
  font-family: var(--main-font);
}

.list {
  list-style: none;
}

.link {
  text-decoration: none;
}

.address {
  font-style: normal;
}

/* ======HEADER====== */

.logo-blue {
  color: #2196f3;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.logo-black {
  color: #000000;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}
.nav-list-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--main-text-color);
}
.nav-list-link:hover,
.nav-list-link:focus {
  color: var(--main-focus-color);
}
.address-link {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.143;
  letter-spacing: 0.02em;
  color: var(--secondary-text-color);
}
.current,
.address-link:hover,
.address-link:focus {
  color: var(--main-focus-color);
}

/* ======END HEADER====== */

/* ======HERO====== */
.hero {
  background: #2f303a;
}

.hero-title {
  font-weight: 900;
  font-size: 44px;
  line-height: 1.363;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}

.hero-title-btn {
  font-weight: 700;
  font-size: 16px;
  line-height: 1.875;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  color: #ffffff;
  background-color: var(--main-focus-color);
}
/* ======END HERO====== */

/* ======WORK====== */
.advantages-list-name {
  font-weight: 700;
  font-size: 14px;
  line-height: 1.142;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--main-text-color);
}

.advantages-list-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* ======END WORK====== */

/* ======ACTIVITY====== */
.activity-name {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
/* ====== END ACTIVITY====== */

/* ======OUR TEAM====== */

.team {
  background: var(--secondary-bg-color);
}

.team-our {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.167;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}

.team-name {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
}
.team-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.188;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}

/* ======END  OUR TEAM====== */

/* ======FOOTER====== */

.footer {
  background: var(--footer-bg-color);
}
.footer-logo-white {
  color: #ffffff;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.footer-logo-blue {
  color: #2196f3;
  font-family: var(--secondary-font);
  font-weight: 700;
  font-size: 26px;
  line-height: 1.192;
  letter-spacing: 0.03em;
}

.footer-address-map {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: #ffffff;
}
.footer-address-link {
  font-weight: 400;
  font-size: 14px;
  line-height: 1.714;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
}
.footer-address-map:hover,
.footer-address-map:focus,
.footer-address-link:hover,
.footer-address-link:focus {
  color: var(--main-focus-color);
}
/* ======END FOOTER====== */

/* ======PORTFOLIO====== */

.portfolio-list-btn {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.625;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--main-text-color);
  border: none;
  background-color: #f5f4fa;
  cursor: pointer;
}
.portfolio-list-btn:hover,
.portfolio-list-btn:focus {
  color: #ffffff;
  background-color: var(--main-focus-color);
}

.portfolio-list-name {
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  color: var(--main-text-color);
}
.portfolio-list-text {
  font-weight: 400;
  font-size: 16px;
  line-height: 1.888;
  letter-spacing: 0.03em;
  color: var(--secondary-text-color);
}
